.footer {
  background: #0f0f0f;
  color: #ffffff;
  padding: 16px 0;
  font-family: monospace;
  border-top: 1px dashed #ffffff33;
  border-bottom: 1px dashed #ffffff33;
  position: sticky;
  bottom: 0px;
}

.footerList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.separator {
  opacity: 0.7;
}
